

	
<div class="text-lg-center">

<img src="/img/man.jpg" alt="Лолаев Мурад"  class="rounded-circle" width="100" height="100"/>
<h2>Лолаев Холмурод Хушбахтович</h2>

</div>
<div class="row">
	<div class="col-4">
		<ul>Моё прохождениые курсы</ul>
		<li> Основа языка C#</li>
		<li>C# для продвинутых</li>
		<li>Оконные приложения</li>
		<li>Веб разработка Asp.Net Core Mvc</li>
		<li>Git</li>
		<li>Алгоритм поиск сортировка</li>
	</div>
	<div class="col-5">
		<ul>Моё нвыки</ul>
		<li>Базовый языка C#</li>
		<li> Asp Net Cire Mvc </li>
		<li>WinForms </li>
		<li>Git/GitHub </li>
		<li>Html/Css </li>
		<li> Bootstrap</li>
		<li>Visual Studio 2022 </li>
	</div>

</div>




			
     
			
		

